{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags avs_tags %}


{% block main_content %}

    <h3>{{ self.title }}</h3>
    <div class="image">
      <div class="image">
        {% image self.image fill-600x300 as image %}
        <img src="{{ image.url }}" alt=" {{ image.title }}">
      </div>
    </div>

    <div class="meta">
      <i class="fa fa-clock-o" aria-hidden="true"></i> {{ self.start_time }} - {{ self.end_time }}
    </div>

    <div class="description">
      {{ self.description|safe }}
    </div>

{% endblock %}
