<section>
  <div class="wrap">
    <h2 class="mini"><i class="fa fa-calendar" aria-hidden="true"></i> Upcoming events</h2>
    <div class="wide bubbles">
      <a class="bubble" href="#">
        <h3>Garden Party</h3>
        <div class="image">
          <img src="/media/images/gardenparty.jpg" alt="">
        </div>
        <div class="meta">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Sunday, May 27, 2018
        </div>
      </a>
      <a class="bubble" href="#">
        <h3>Comedy Show</h3>
        <div class="image">
          <img src="/media/images/comedyshow.jpg" alt="">
        </div>
        <div class="meta">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Sunday, May 27, 2018
        </div>
      </a>
    </div><!-- .event.bubbles -->
    <form class="list-signup" method="post" action="">
      <h3><label for="list-signup-email">Enter your email to get notified of upcoming events</label></h3>
      <input type="email" name="email" id="list-signup-email" placeholder="Email">
      <button>Get notified</button>
    </form>
  </div><!-- .wrap -->
</section>
