<section>
  <div class="wrap">
    <h2 class="mini">What you can do</h2>
    <div class="bubbles">
      <a class="bubble" href="#">
        <h3>Discover</h3>
        <div class="image">
          <img src="/media/images/discover.jpg" alt="">
        </div>
      </a>
      <a class="bubble" href="#">
        <h3>Act</h3>
        <div class="image">
          <img src="/media/images/act.jpg" alt="">
        </div>
      </a>
      <a class="bubble" href="#">
        <h3>Support</h3>
        <div class="image">
          <img src="/media/images/support.jpg" alt="">
        </div>
      </a>
    </div><!-- .portal.bubbles -->
  </div><!-- .wrap -->
</section>
