{% load wagtailimages_tags %}

<section>
  <div class="wrap">
    <h2 class="mini">{{ self.headline }}</h2>
    <div class="bubbles">

      {% for portal in request.site.root_page.get_children.live.in_menu %}
      <a class="bubble" href="{{ portal.url }}">
        <h3>{{ portal.title }}</h3>

        {% if portal.specific.listing_image %}
          <div class="image">
            {% image portal.specific.listing_image fill-425x540 as image %}
            <img src="{{ image.url }}" alt=" {{ image.title }}">
          </div>
        {% endif %}

      </a>
      {% endfor %}

    </div><!-- .portal.bubbles -->
  </div><!-- .wrap -->
</section>
