<section class="quote">
  <div class="wrap">
    <div class="image">
      <img src="/media/images/jay.jpg" alt="Antique photo of Jay Dinshah at work in AVS headquarters.">
    </div>
    <div>
      <h2>Jay Dinshah</h2>
      <blockquote>
        The world can be won for love,
        peace, and harmony if nonviolent
        individuals who sincerely believe
        in these ideals will simply stand
        up and have the courage to live
        by them, thus being examples
        to others.
      </blockquote>
      <div class="right-button">
        <a class="button" href="#">Learn about Jay</a>
      </div>
    </div>
  </div><!-- .wrap -->
</section>
