<section class="quote">
  <div class="wrap">
    <div class="image">
      {% load wagtailimages_tags %}
      {% image self.image fill-374x500 as image %}
      <img src="{{ image.url }}" alt="{{ image.title }}">
    </div>
    <div>
      <h2>{{ self.title }}</h2>
      <blockquote>
        {{ self.quote }}
      </blockquote>
      <div class="right-button">
        <a class="button" href="{{ self.button_url }}">{{ self.button_text }}</a>
      </div>
    </div>
  </div><!-- .wrap -->
</section>
